*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 1300px;
}

.icon{
    margin-right: 5px;
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
}

h1{
    width: 100%;
    font-size: 75px;
}

h2{
    width: 100%;
    font-size: 40px;
}

h3{
    width: 100%;
    font-size: 25px;
}

.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.section{
    width: 100%;    
    height: auto;
}

.inner{
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.button{
    background-color: rgb(24, 117, 255);
    color:white;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
}


header{
    height: 70px;
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    line-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 100;
}


.logo__container,
.nav__container{
    float: left;
}

.button__container .button{
    display: inline;
}

.button__container{
    float: right;
    text-align: right;
    width: calc(10% - 20px);
    height: 70px;
    padding-right: 20px;
}

.logo__container{
    width: calc(10% - 20px);
    height: 70px;
    padding-left: 20px;
}

.logo__container .logo{
    height: 20px;
    vertical-align: middle;
}

.nav__container{
    width: 80%;
    height: 70px;
}

.nav__container ul{
    list-style: none;
    display: inline-block;
    width: auto;
}

.nav__container li{
    font-size: 1rem;
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
}

.nav__container li a{
    color: black;
    text-decoration: none;
}

.nav__container .menu__left{
    float: left;
}

.nav__container ul.menu__right{
    float: right;
}

.hero .inner{
    width: 70%;
    padding: 200px 0 0 0;
}

.hero{
    background-color: rgb(185, 207, 229);
    width: 100%;
}
.hero p{
    font-size: 1.2rem;
}
.title-box{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.text-box{
    float: left;
    width: 30%;
    font-size: 1rem;
}

.text-box p{
    margin-bottom: 20px;
}

.text-box .button{
    margin-bottom: 10px;
}

.img-box{
    width: calc(70% - 100px);
    padding-left: 50px;
    padding-right: 50px;
    float: left;
}

.img-box img{
    width: 100%;
}

.text-box .fa-arrow-down{
    margin-top: 20px;
    font-size: 2rem;
}

.radio{
    font-size: 1rem;
    margin-top: 50px;
}

.ext-circle{
    box-sizing: content-box;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    display: inline-block;
    line-height: 1rem;
    border: 1px solid rgb(223, 223, 223);
    position: relative;
    vertical-align: sub;
    margin-right: 5px;
}

.full{
    box-shadow: inset 0px 0px 0px 4px #0085dd;
}


.radio-label{
    margin-right: 30px;
}

.plans{
    width: 100%;
    height: auto;
    padding-top: 40px;
}

.plan-user{
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);
    font-size: 1rem;
}

.plan-content{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    width: 100%;
}

.plan-content h2{
    font-size: 1.8rem;
    width: 100%;
    margin-bottom: 20px;
}

.plan-content h3{
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 20px;
}

.plan-content .plan .button{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.plan-price{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-cicle{
    font-size: 0.9rem;
    opacity: .5;
    margin-bottom: 40px;
}

.plan-feature{
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.plan-feature-icon{
    float: left; 
    width: 10px;   
}

.plan-feature-text{
    float: left;
    width: calc(100% - 10px);
    padding-left: 10px;
}

.blue{
    color: rgb(24, 117, 255);
    font-size: 1rem;
}
.plan-content .buy-now{
    margin-top: 30px;
    font-size: 0.9rem;
}

.plans .plan{
    width: calc((100% / 3) - (100px / 3));
    border: 1px solid rgb(223, 223, 223);
}

.plans .plan.col:nth-child(2){
    margin-left: 50px;
    margin-right: 50px;
}

.plans .large{
    width: 100%;
    margin-top: 50px;
}

.plans hr{
    width: 60px;
    margin-top: 30px;
    margin-bottom: 40px;
    opacity: 0.4;
}

.plan-content .left{
    width: 75%;   
}

.plan-content .right{
    width: 25%;
}

.plan-content .right .button{
    width: 100%;
    text-align: center;
}

.partner .col{
    float: left;
    width: calc(100% / 2);
}

.partner .col img{
    width: 100%;
    display: block;
}

.partner .col:nth-child(2){
    padding: 30px 0 0 50px;
    width: calc(100% / 2 - 80px);
}

.partner .col h3{
    margin-bottom: 30px;
}

.partner .col p{
    margin-bottom: 30px;
} 

.partner .col .button{
    color: black;
    background-color: white;
    border: 1px solid black;
} 

.features .col{
    width: calc(100% / 3 - (100px / 3));
    margin-bottom: 80px;
}

.features .col:nth-child(3n+2){
    margin-left: 50px;
    margin-right: 50px;
}

.features .col img{
    width: 100%;
}

.features h3{
    margin-bottom: 20px;
}

.mosaic .col{
    height: 30vw;
    width: 30vw;
}

.mosaic .large{
    width: 40vw;
    height: 30vw;
    background-color: rgb(245,245,245);
}

.mosaic .card{
    height: 15vw;
    width: 15vw;
    float: left;
    position: relative;
}

/* SFONDI CARD MOSAICO */

.des{
    background-color: rgb(171, 209, 160);
}

.asu{
    background-color: rgb(89, 19, 43);
}


.uf{
    background-color: rgb(60, 146, 201);
}
.topps{
    background-color: rgb(236, 59, 47);
}

.wbc{
    background-color: rgb(197,41,43);
}

.hc{
    background-color: rgb(171,192,200);
}

.lp{
    background-color: rgb(16, 39, 124);
}

.cc{
    background-color: rgb(250,216,86);
}

.mosaic .card svg{
    width: 60%;
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section.cta{
    height: auto;
    background-color: rgb(185,208,229);
}

.cta .col{
    width: 50%;
}

.cta .col:nth-child(2){
    text-align: right;
}

.cta .button{
    background-color: white;
    color: black;
}

footer{
    background-color: black;
    height: auto;
}

footer .inner{
    width: 90%;
}

footer .col{
    width: calc(100% / 5);
}


footer ul:first-child{
    list-style: none;
    display: inline-block;
}


footer li{
    margin-bottom: 10px;
}

footer .col h4{
    font-size: 1.3rem;
    color: white;
    margin-bottom: 20px;
}

footer li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer__bottom{
    height: 50px;
    width: 100%;
    font-size: 1rem;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.lang-selector{
    width: 100px;
    border-top: 1px solid white;
    padding-top: 40px;
}
